<div class="panel panel-default">
    <div class="panel-body">
        <div class="clearfix">
            <a ng-href="https://twitter.com/{{tweet.user.screenName}}"  target="_blank" class="pull-left m-right-sm">
                <img id="tweet-{{tweet.id}}" ng-src="{{tweet.user.profileImageUrl}}" err-src="img/social/twitter-logo.png" class="img-circle" style="width:40px;">
            </a>
            <strong class="block">{{tweet.user.screenName}}</strong>
            <small class="text-muted">{{tweet.createdAt | date:'fullDate'}}</small>
        </div>
        <div class="seperator"></div>
        <p>
            {{tweet.text}}
        </p>
    </div>
</div>
