<div id="breadcrumb">
    <ul class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="../map.html"> {{ 'GENERAL.HOME' | translate }}</a></li>
        <li>{{ 'POI.POI' | translate }}</li>
        <li class="active">{{ 'POI.SEARCH' | translate }}</li>
    </ul>
</div>

<div class="padding-md">
    <div class="panel panel-default table-responsive">
        <div class="panel-heading">
            {{ 'POI.POI' | translate }}
            <span class="label label-info pull-right" ng-if="totalElements">{{totalElements}} {{ 'POI.POI' | translate | lowercase}}</span>
        </div>
        <table class="table table-striped" id="responsiveTable" ng-table="tableParams" show-filter="true"
               ng-table-loading-container="tableParams.settings().$loading">

            <tbody>
            <tr ng-repeat="poi in $data">
                <td data-title="'POI.DESCRIPTION' | translate" filter="{ 'title': 'text' }" sortable="'title'">

                    <a ng-href="#/poi/{{poi.id}}/view">
                        {{poi.title}}
                    </a>
                </td>
                <td data-title="'POI.DATE' | translate"  sortable="'date'">{{poi.date | date:'fullDate'}} {{poi.date | date:'mediumTime'}}</td>
                <td data-title="'POI.PIC_COUNT' | translate" >{{poi.pictures.length}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>