<div class="form-group">
    <label class="col-lg-2 control-label">{{ 'POI.ADDRESS' | translate }}</label>
    <div class="col-lg-10">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="geocoding.key" ng-enter="geocoding.performQuery(geocoding.key)">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="geocoding.performQuery(geocoding.key)">{{ 'GENERAL.SEARCH' | translate }}</button>
            </span>
        </div>
        <span class="help-block">{{ 'POI.ADDRESS_HELP' | translate }}</span>
        <div class="alert alert-warn" ng-if="geocoding.noResults">
            {{ 'ERRORS.NO_ADDRESS_FOUND' | translate }}
        </div>
        <div class="alert alert-danger" ng-if="geocoding.errorMessage">
            {{geocoding.errorMessage}}
        </div>
    </div><!-- /.col -->
</div><!-- /form-group -->

<div class="form-group" ng-if="geocoding.placesFound && geocoding.placesFound.length > 0">
    <label class="col-lg-2 control-label">{{ 'GENERAL.RESULTS' | translate }}</label>
    <div class="col-lg-10">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{{ 'POI.ADDRESS' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="place in geocoding.placesFound">
                <td> <a href="#" onClick="return false;" ng-click="setMarkerPosition(place)">{{place.formatted_address}}</a> </td>
            </tr>
            </tbody>
        </table>
        <div class="alert alert-info">
            {{ 'POI.ADDRESS_SELECTION_HELP' | translate }}
        </div>

    </div><!-- /.col -->
</div><!-- /form-group -->

<google-maps-point-chooser  style="width: 100%; height: 300px;"></google-maps-point-chooser>
