<div ng-class="(poiForm.title.$dirty && poiForm.title.$error.required)? 'form-group has-error' : 'form-group'">
    <label class="col-lg-2 control-label">{{ 'POI.BRIEF_DESCRIPTION' | translate }}</label>
    <div class="col-lg-10">
        <input class="form-control" type="text" ng-model="poi.title" name="title" required>
        <span class="help-block">{{ 'POI.BRIEF_DESCRIPTION_HELP' | translate }}</span>
    </div><!-- /.col -->
</div><!-- /form-group -->

<div ng-class="(poiForm.description.$dirty && poiForm.description.$error.required)? 'form-group has-error' : 'form-group'">
    <label class="col-lg-2 control-label">{{ 'POI.COMPLETE_DESCRIPTION' | translate }}</label>
    <div class="col-lg-10">
        <textarea class="form-control" rows="3" ng-model="poi.description" name="description" required></textarea>
        <span class="help-block">{{ 'POI.COMPLETE_DESCRIPTION_HELP' | translate }}</span>
    </div><!-- /.col -->
</div><!-- /form-group -->
<div class="form-group">
    <label class="col-lg-2 control-label">{{ 'POI.TYPE' | translate }}</label>
    <div class="col-lg-10">
        <select class="form-control" ng-model="poi.type" ng-options="poiType.name for poiType in poiTypes">
        </select>
    </div><!-- /.col -->
</div><!-- /form-group -->

<div ng-class="(hasError('field'+ field.id))? 'form-group has-error' : 'form-group'"
     ng-repeat="field in poi.type.fields">
    <label class="col-lg-2 control-label">{{field.name}}</label>
    <div class="col-lg-10" ng-if="field.type.name == 'Select'">
        <select class="form-control"
                ng-model="poi.fieldValues[$index].value"
                ng-init="poi.fieldValues[$index].value = field.options[0].value"
                name="{{'field'+ field.id}}">
            <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
        </select>
    </div><!-- /.col -->
    <div class="col-lg-10" ng-if="field.type.name == 'Number'">
        <input class="form-control" type="number" ng-model="poi.fieldValues[$index].value" min="1" max="120" name="{{'field'+ field.id}}" required="{{field.required}}">
        <span class="help-block" ng-if="poiForm['field'+ field.id].$dirty && poiForm['field'+ field.id].$error.required">{{ 'ERRORS.REQUIRED' | translate }}</span>
        <span class="help-block" ng-if="poiForm['field'+ field.id].$dirty && poiForm['field'+ field.id].$error.number">{{ 'ERRORS.NUMBER' | translate }}</span>
        <span class="help-block" ng-if="poiForm['field'+ field.id].$dirty && poiForm['field'+ field.id].$error.min">{{ 'ERRORS.BIGGER_ZERO' | translate }}</span>
        <span class="help-block" ng-if="poiForm['field'+ field.id].$dirty && poiForm['field'+ field.id].$error.max">{{ 'ERRORS.LESS_120' | translate }}</span>
    </div>
</div>

